body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background-color: white;
	width: device-width;
	max-width: 480px;
	margin: auto;
}

h1 {
	text-align: center;
    font-size: 28px;
    margin-top: 2px;
    margin-bottom: 0px;
}

textarea {
    height: 44px;
    width: 100%;
    max-width: device-width;
    line-height: 16px;
	margin-bottom: 2px;
	font-size: 16px;
    resize: none;
    overflow: hidden;
    transition: width 0.25s;
}

.display {
    width: 100%;
    min-height: 30px;
    padding-bottom: 12px;
    border-spacing: 0 4px;
}

.display-title {
    width: 100%;
    min-height: 30px;
    padding-bottom: 0px;
    border-spacing: 0 0px;
    margin-bottom: 0px;
}

.storyline {
    height: 44px;
    max-height: 80px;
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: #cccccc;
    overflow: auto;
    box-sizing: border-box;
}

.storylinenext1 {
    height: 44px;
    max-height: 80px;
    background-color: #FFFFFF;
    border: 4px solid;
    border-color: #50C878;
    overflow: auto;
    box-sizing: border-box;
}

.storylineactive1 {
    height: 44px;
    max-height: 80px;
    background-color: #C1E1C1;
    border: 2px solid;
    border-color: #C1E1C1;
    overflow: auto;
    box-sizing: border-box;
}

.storylinenext2 {
    height: 44px;
    max-height: 80px;
    background-color: #FFFFFF;
    border: 4px solid;
    border-color: #0000FF;
    overflow: auto;
    box-sizing: border-box;
}

.storylineactive2 {
    height: 44px;
    max-height: 80px;
    background-color: #ADD8E6;
    border: 2px solid;
    border-color: #ADD8E6;
    overflow: auto;
    box-sizing: border-box;
}

.storylinehidden {
    height: 44px;
    max-height: 80px;
    background-color: #cccccc;
    border: 2px solid;
    border-color: #cccccc;
    overflow: auto;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
